.login-page {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001529;
    border-radius: 5px;
    padding: 60px 50px;
    height: 300px;
    width: 280px;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__form-title {
        display: flex;
        color: white;
        font-size: 2em;
        padding-bottom: 40px;
        font-style: bold;
        font-weight: bold;
    }

    &__form-heading {
        display: flex;
        color: white;
        font-size: 1em;
        margin-bottom: 20px;
        font-style: bold;
        font-weight: bold;
    }

    &__form-input {
        display: contents;
        width: 100%;

        input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #1b2d5b;
        background-color: #1c314b;
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 1em;
        }
    }

    &__form-button {
        padding-top: 20px;
        button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: #2f3d85;
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
        cursor: pointer;
        }
    }

}